<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Courbe représentant les performances par famille</strong>
      </c-card-header>
      <c-card-body>
       
        <c-col xs="12" lg="10">
          <c-card class="mb-4">
            <c-card-header>
              Performance par famille 
            </c-card-header>
            <c-card-body>
              <c-chart type="bar" [data]="chartData" [options]="basicOptions"></c-chart>
            </c-card-body>
          </c-card>
        </c-col>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
   
  </c-col>
  <c-col xs="12">
   
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
    
  </c-col>
</c-row>

