<!-- login.component.html
<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body  >
              <form [formGroup]="personalInfoForm" >
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <div class="form-group">

                    <label>Username</label>
                    <input
                      type="text"
                      formControlName="username"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
                      
                    />
                    @if (submitted && f['username'].errors) {
                    <div class="invalid-feedback">
                      @if (f['username'].errors['required']) {
                      <div>Username is required</div>
                      }
                  @if (f['username'].errors['minlength']) {
                      <div>Username must be at least 6 characters</div>
                      }
                  @if (f['username'].errors['maxlength']) {
                      <div>Username must not exceed 20 characters</div>
                      }
                    </div>
                    }
                  </div>

                  

                  <div class="form-group">

                    <label>fullName</label>
                    <input
                      type="text"
                      formControlName="fullName"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }"
                      
                    />
                    @if (submitted && f['fullName'].errors) {
                    <div class="invalid-feedback">
                      @if (f['fullName'].errors['required']) {
                      <div>Username is required</div>
                      }
                  @if (f['fullName'].errors['minlength']) {
                      <div>Username must be at least 6 characters</div>
                      }
                  @if (f['fullName'].errors['maxlength']) {
                      <div>Username must not exceed 20 characters</div>
                      }
                    </div>
                    }
                  </div>

                  <label>Email</label>
                    <input
                      type="text"
                      formControlName="email"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                      
                    />
                    @if (submitted && f['email'].errors) {
                    <div class="invalid-feedback">
                      @if (f['email'].errors['required']) {
                      <div>Username is required</div>
                      }
                  @if (f['email'].errors['minlength']) {
                      <div>Username must be at least 6 characters</div>
                      }
                  @if (f['email'].errors['maxlength']) {
                      <div>Username must not exceed 20 characters</div>
                      }
                    </div>
                    }
                  </div>

                  <label>Birth Date</label>
                  <input
                    type="text"
                    formControlName="birthDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['birthDate'].errors }"
                    
                  />
                  @if (submitted && f['birthDate'].errors) {
                  <div class="invalid-feedback">
                    @if (f['birthDate'].errors['required']) {
                    <div>Username is required</div>
                    }
                @if (f['birthDate'].errors['minlength']) {
                    <div>Username must be at least 6 characters</div>
                    }
                @if (f['birthDate'].errors['maxlength']) {
                    <div>Username must not exceed 20 characters</div>
                    }
                  </div>
                  }
                </div>

</c-input-group>
                
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit" >
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link" routerLink="/reset-password">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div> -->



 <section class="bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 mb-4 mb-sm-5">
              <div class="card card-style1 border-0">
                  <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                      <div class="row align-items-center">
                          <div class="col-lg-6 mb-4 mb-lg-0">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                          </div>
                          <div class="col-lg-6 px-xl-10">
                              <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                  <h3 class="h2 text-white mb-0">ranineline</h3>
                                  <span class="text-primary">Administrateur</span>
                              </div>
                              <ul class="list-unstyled mb-1-9">
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Full Name:</span> ranine line slimane</li>
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Username:</span> ranineline</li>
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> ranineslimane&#64;gmail.com</li>
                                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Birth Date:</span> 17/06/2003</li>
                              </ul>
                              <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                  <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                  <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                  <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                  <li><a href="#!"><i class="ti-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
      </div>
  </div>
</section> 
