<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButton">
      <c-card-header>
        <strong>Courbe représentant le rendement de chaque employé</strong>
      </c-card-header>
      <c-card-body>
        
        
<c-col xs="12" lg="6">
  <c-card class="mb-4">
    <c-card-header>
      Rendement par Employé
    </c-card-header>
    <c-card-body>
      <c-chart type="bar" [data]="chartDataSumRendementParEmploye" [options]="basicOptions"></c-chart>
    </c-card-body>
  </c-card>
</c-col>

      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
   
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
  
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
    
  </c-col>
  <c-col xs="12">
    
  </c-col>
</c-row>
